@keyframes loadingSuspense {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.loadingSuspense div {
  position: absolute;
  animation: loadingSuspense 2.56s linear infinite;
  width: 96.88px;
  height: 96.88px;
  top: 38.06px;
  left: 38.06px;
  border-radius: 50%;
  box-shadow: 0 2.076px 0 0 #000000;
  transform-origin: 48.44px 49.478px;
}
.loadingSuspenseSpinner {
  width: 173px;
  height: 173px;
  display: inline-block;
  overflow: hidden;
  background: none;
}
.loadingSuspense {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.loadingSuspense div {
  box-sizing: content-box;
}
